<h1>El pibe Valderrama</h1>
<h2>Rene Higuita</h2>

  <form accept-charset="UTF-8" action="/users/new" method="get">

    <label for="uname">User Name:</label><br>
    <input type="text" id="uname" name="username"><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="pass">Password:</label><br>
    <input type="password" id="pass" name="password"><br><br>    
    <input type="submit" value="Submit This Form">
  </form>